<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>User Dashboard</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favi.png')}}" rel="icon">
  <link href="{{ url_for('static', filename='img/logo.png')}}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet">
</head>

<body class="service-details-page">

  <header id="header" class="header d-flex flex-column justify-content-center" style="position:fixed; top:0; left:0; width:100%; z-index:1000; background:#fff; box-shadow:0 2px 8px rgba(0,0,0,0.05);">

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="index.html" class="active"><i class="bi bi-house navicon"></i><span>Home</span></a></li>
        <li><a href="index.html#about"><i class="bi bi-briefcase navicon"></i><span>About</span></a></li>
        <li><a href="index.html#services"><i class="bi bi-hdd-stack navicon"></i><span>Services</span></a></li>
        <li><a href="index.html#Signin"><i class="bi bi-person-circle navicon"></i><span>Sign In</span></a></li>
        <li><a href="index.html#contact"><i class="bi bi-envelope navicon"></i><span>Contact</span></a></li>
      </ul>
    </nav>
  </header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="container">
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">User Dashboard</li>
          </ol>
        </nav>
        <h1>Welcome!</h1>
        <!-- User Profile Dropdown -->
        <div class="user-profile">
          <button class="profile-button" aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-person-circle"></i> <span id="usernameDisplay">Profile</span>
          </button>
          <div class="dropdown-menu">
            <button class="profile-button" id="viewprofilebutton" onclick="handelViewProfileButton()">View Profile </button>
            <button class="profile-button" id="logoutButton" onclick="handelLogoutButton()">Logout</button>
          </div>
        </div>
      </div>
    </div><!-- End Page Title -->

    <section id="upload-section" style="display: block;">
      <div class="container section-title" data-aos="fade-up">
        <h2>Runner's Information</h2>
      </div>
      <div class="container_checkbox">
        <!-- <h4>Upload Your File</h4> -->
        <form id="uploadForm" action="/submit" method="POST" enctype="multipart/form-data">
          <div class="form-group" style="margin-bottom: 20px; display: flex; align-items: center; gap: 10px;">
            <label for="heightFeet" style="margin-bottom: 0; min-width: 130px;">Height of Runner:</label>
            <input type="number" id="heightFeet" name="heightFeet" min="0" max="8" step="1" style="width: 80px;" placeholder="Feet" required>
            <span>ft</span>
            <input type="number" id="heightInches" name="heightInches" min="0" max="11" step="1" style="width: 80px;" placeholder="Inches" required>
            <span>in</span>
          </div>
            
          <div class="form-group" style="margin-bottom: 20px;">
            <label for="videoUpload" style="display: block; margin-bottom: 10px;">Upload Video File:</label>
            <input type="file" id="videoUpload" name="videoUpload" accept="video/*" onchange="previewVideo()" required>
            <video id="videoPreview" controls style="display:none; width: 100%; margin-top: 20px;"></video>
          </div>
          
          <button type="submit" onclick="SendVideo_height(event)" class="btn btn-primary" style="margin-top: 20px;">Submit</button>

          <div id="parent-container-uploadvideo" style="display: none;">
              <h2>Uploading and Processing. Please wait </h2>
              <div id="loading-uploadvideo" style="display: none; width: 100%; height: 50px; position: relative;margin-top: 50px;">
                <img src="{{ url_for('static', filename='img/loading.gif')}}" alt="Loading..." style="width: 10%; position: absolute; top: 0%; left: 50%; transform: translate(-50%, -50%);"/>
              </div>
          </div>
        </form>
      </div>
    </section>

    <section id="analysis-section" style="display: none;">
      <div class="container section-title" data-aos="fade-up">
        <h2>Settings and Colors</h2>
      </div>
      <!-- <div class="container_checkbox">
        <h4>Select AI Model</h4>
        <div class="form-group">
          <div class="checkbox-group">
            <label><input type="radio" name="model" value="mediapipe" checked  onchange="check_radio()"> Mediapipe</label>
            <label><input type="radio" name="model" value="yolo" onchange="check_radio()"> YOLO</label>
          </div>
        </div>
      </div> -->

      <div class="container_checkbox">
          <!-- <h4>Select Analysis Settings and Colors</h4> -->
          <div class="container_checkbox">
              <h5>Select Postures</h5>
              <div class="control-buttons">
                  <div class="button-wrapper">
                      <button type="button" id="toe_off" onclick="toe_off_click([1, 2, 3, 4,5,6,7,8,9])">Toe-Off</button>
                      <div class="info-box">
                          Describes the moment the toe leaves the ground. Features: 1,2,3,4,5,6,7,8,9.
                      </div>
                  </div>

                  <div class="button-wrapper">
                      <button type="button" id="full_flight" onclick="full_flight_click([2, 3, 6,10,11])">Full-Flight</button>
                      <div class="info-box">
                          Indicates the period when the foot is entirely off the ground. Features: 2,3,6,10,11.
                      </div>
                  </div>

                  <div class="button-wrapper">
                      <button type="button" id="touch_down" onclick="touch_down_click([5,6,8,12,13,14])">Touch-Down</button>
                      <div class="info-box">
                          Refers to the initial contact of the foot with the ground. Features: 5,6,8,12,13,14.
                      </div>
                  </div>

                  <div class="button-wrapper">
                      <button type="button" id="full_support" onclick="full_support_click([2,6,9,13])">Full-Support</button>
                      <div class="info-box">
                          Represents the phase where the entire foot is on the ground. Features: 2,6,9,13.
                      </div>
                  </div>

                  <div class="button-wrapper">
                      <button type="button" id="clear" onclick="clear_click()">Select All</button>
                      <div class="info-box">
                          Activates all analysis settings. Features: 1-14.
                      </div>
                  </div>
              </div>
          </div>

          <div class="form-group">
            <div class="checkbox-group" >
              <div class="settings-row">
                <div class="col-label">
                  <input type="checkbox" id="tedt" name="tet" value="test" style="display:block;" disabled>
                </div>
                <div class="col-setting">
                  <label> Settings</label>
                </div>
                <div class="col-sample">
                  <label> Info.</label>
                </div>
                <div class="col-color">
                  <label>Color of each parameter</label>
                </div>
              </div>

              <div class="settings-row">
                <div class="col-label">
                  <input type="checkbox" id="setting1" name="setting" value="foot_ground_angle">
                </div>
                <div class="col-setting">
                  <label for="setting1">1-Angle of foot with ground.</label>
                </div>
                <div class="col-sample">
                  <button type="button" class="visibility-btn" data-img="img1" ><i class="bi bi-eye"></i></button>
                  <img src="./static/img/foot_ground_angle.png" class="setting-image" id="img1" alt="1Preview" style="display:none;">
                </div>
                <div class="col-color">
                  <select id="colorSetting1" name="colorSetting1" style="width: 100%;">
                    <option value="#ff0000">Red</option>
                    <option value="#0563bb">Blue</option>
                    <option value="#00ff00">Green</option>
                    <option value="#ffa500">Orange</option>
                    <option value="#800080">Purple</option>
                  </select>
                </div>
              </div>

              <div class="settings-row">
                <div class="col-label">
                  <input type="checkbox" id="setting2" name="setting" value="knee_joint_angle">
                </div>
                <div class="col-setting">
                  <label for="setting2">2-Angle of knee (shin-thigh) joint.</label>
                </div>
                <div class="col-sample">
                  <button type="button" class="visibility-btn" data-img="img2"><i class="bi bi-eye"></i></button>
                  <img src="./static/img/bg.jpg" class="setting-image" id="img2" alt="2Preview" style="display:none;">
                </div>
                <div class="col-color">
                  <select id="colorSetting2" name="colorSetting2" style="width: 100%;">
                    <option value="#ff0000">Red</option>
                    <option value="#0563bb">Blue</option>
                    <option value="#00ff00">Green</option>
                    <option value="#ffa500">Orange</option>
                    <option value="#800080">Purple</option>
                  </select>
                </div>
              </div>

              <div class="settings-row">
                <div class="col-label">
                  <input type="checkbox" id="setting3" name="setting" value="between_thigh_angle">
                </div>
                <div class="col-setting">
                  <label for="setting3">3-Angle between thighs.</label>
                </div>
                <div class="col-sample">
                  <button type="button" class="visibility-btn" data-img="img3"><i class="bi bi-eye"></i></button>
                  <img src="./static/img/foot_ground_angle.png" class="setting-image" id="img3" alt="3Preview" style="display:none;">
                </div>
                <div class="col-color">
                  <select id="colorSetting3" name="colorSetting3" style="width: 100%;">
                    <option value="#ff0000">Red</option>
                    <option value="#0563bb">Blue</option>
                    <option value="#00ff00">Green</option>
                    <option value="#ffa500">Orange</option>
                    <option value="#800080">Purple</option>
                  </select>
                </div>
              </div>

              <div class="settings-row">
                <div class="col-label">
                  <input type="checkbox" id="setting4" name="setting" value="knee_toe_angle">
                </div>
                <div class="col-setting">
                  <label for="setting4">4-Angle of foot line with x-axis.</label>
                </div>
                <div class="col-sample">
                  <button type="button" class="visibility-btn" data-img="img4"><i class="bi bi-eye"></i></button>
                  <img src="./static/img/foot_ground_angle.png" class="setting-image" id="img4" alt="4Preview" style="display:none;">
                </div>
                <div class="col-color">
                  <select id="colorSetting4" name="colorSetting4" style="width: 100%;">
                    <option value="#ff0000">Red</option>
                    <option value="#0563bb">Blue</option>
                    <option value="#00ff00">Green</option>
                    <option value="#ffa500">Orange</option>
                    <option value="#800080">Purple</option>
                  </select>
                </div>
              </div>

              <div class="settings-row">
                <div class="col-label">
                  <input type="checkbox" id="setting5" name="setting" value="elbow_joint_angle">
                </div>
                <div class="col-setting">
                  <label for="setting5">5-Angle of elbow joint.</label>
                </div>
                <div class="col-sample">
                  <button type="button" class="visibility-btn" data-img="img5"><i class="bi bi-eye"></i></button>
                  <img src="./static/img/foot_ground_angle.png" class="setting-image" id="img5" alt="5Preview" style="display:none;">
                </div>
                <div class="col-color">
                  <select id="colorSetting5" name="colorSetting5" style="width: 100%;">
                    <option value="#ff0000">Red</option>
                    <option value="#0563bb">Blue</option>
                    <option value="#00ff00">Green</option>
                    <option value="#ffa500">Orange</option>
                    <option value="#800080">Purple</option>
                  </select>
                </div>
              </div>

              <div class="settings-row">
                <div class="col-label">
                  <input type="checkbox" id="setting6" name="setting" value="flexion_foot">
                </div>
                <div class="col-setting">
                  <label for="setting6">6-Angle of ankle (toe-heel-shin) joint.</label>
                </div>
                <div class="col-sample">
                  <button type="button" class="visibility-btn" data-img="img6"><i class="bi bi-eye"></i></button>
                  <img src="./static/img/foot_ground_angle.png" class="setting-image" id="img6" alt="6Preview" style="display:none;">
                </div>
                <div class="col-color">
                  <select id="colorSetting6" name="colorSetting6" style="width: 100%;">
                    <option value="#ff0000">Red</option>
                    <option value="#0563bb">Blue</option>
                    <option value="#00ff00">Green</option>
                    <option value="#ffa500">Orange</option>
                    <option value="#800080">Purple</option>
                  </select>
                </div>
              </div>

              <div class="settings-row">
                <div class="col-label">
                  <input type="checkbox" id="setting7" name="setting" value="forearm_x_axis">
                </div>
                <div class="col-setting">
                  <label for="setting7">7-Angle of forearm with x-axis.</label>
                </div>
                <div class="col-sample">
                  <button type="button" class="visibility-btn" data-img="img7"><i class="bi bi-eye"></i></button>
                  <img src="./static/img/foot_ground_angle.png" class="setting-image" id="img7" alt="7Preview" style="display:none;">
                </div>
                <div class="col-color">
                  <select id="colorSetting7" name="colorSetting7" style="width: 100%;">
                    <option value="#ff0000">Red</option>
                    <option value="#0563bb">Blue</option>
                    <option value="#00ff00">Green</option>
                    <option value="#ffa500">Orange</option>
                    <option value="#800080">Purple</option>
                  </select>
                </div>
              </div>

              <div class="settings-row">
                <div class="col-label">
                  <input type="checkbox" id="setting8" name="setting" value="shin_x_axis">
                </div>
                <div class="col-setting">
                  <label for="setting8">8-Angle of shins with x-axis.</label>
                </div>
                <div class="col-sample">
                  <button type="button" class="visibility-btn" data-img="img8"><i class="bi bi-eye"></i></button>
                  <img src="./static/img/foot_ground_angle.png" class="setting-image" id="img8" alt="8Preview" style="display:none;">
                </div>
                <div class="col-color">
                  <select id="colorSetting8" name="colorSetting8" style="width: 100%;">
                    <option value="#ff0000">Red</option>
                    <option value="#0563bb">Blue</option>
                    <option value="#00ff00">Green</option>
                    <option value="#ffa500">Orange</option>
                    <option value="#800080">Purple</option>
                  </select>
                </div>
              </div>

              <div class="settings-row">
                <div class="col-label">
                  <input type="checkbox" id="setting9" name="setting" value="thigh_x_axis">
                </div>
                <div class="col-setting">
                  <label for="setting9">9-Angle of thighs with x-axis.</label>
                </div>
                <div class="col-sample">
                  <button type="button" class="visibility-btn" data-img="img9"><i class="bi bi-eye"></i></button>
                  <img src="./static/img/foot_ground_angle.png" class="setting-image" id="img9" alt="9Preview" style="display:none;">
                </div>
                <div class="col-color">
                  <select id="colorSetting9" name="colorSetting9" style="width: 100%;">
                    <option value="#ff0000">Red</option>
                    <option value="#0563bb">Blue</option>
                    <option value="#00ff00">Green</option>
                    <option value="#ffa500">Orange</option>
                    <option value="#800080">Purple</option>
                  </select>
                </div>
              </div>

              <div class="settings-row">
                <div class="col-label">
                  <input type="checkbox" id="setting10" name="setting" value="ear_nose_x_axis">
                </div>
                <div class="col-setting">
                  <label for="setting10">10-Angle of ear-nose line with x-axis.</label>
                </div>
                <div class="col-sample">
                  <button type="button" class="visibility-btn" data-img="img10"><i class="bi bi-eye"></i></button>
                  <img src="./static/img/foot_ground_angle.png" class="setting-image" id="img10" alt="10Preview" style="display:none;">
                </div>
                <div class="col-color">
                  <select id="colorSetting10" name="colorSetting10" style="width: 100%;">
                    <option value="#ff0000">Red</option>
                    <option value="#0563bb">Blue</option>
                    <option value="#00ff00">Green</option>
                    <option value="#ffa500">Orange</option>
                    <option value="#800080">Purple</option>
                  </select>
                </div>
              </div>

              <div class="settings-row">
                <div class="col-label">
                  <input type="checkbox" id="setting11" name="setting" value="ear_hip_x_axis">
                </div>
                <div class="col-setting">
                  <label for="setting11">11-Angle of ear-hip line with the x-axis.</label>
                </div>
                <div class="col-sample">
                  <button type="button" class="visibility-btn" data-img="img11"><i class="bi bi-eye"></i></button>
                  <img src="./static/img/foot_ground_angle.png" class="setting-image" id="img11" alt="11Preview" style="display:none;">
                </div>
                <div class="col-color">
                  <select id="colorSetting11" name="colorSetting11" style="width: 100%;">
                    <option value="#ff0000">Red</option>
                    <option value="#0563bb">Blue</option>
                    <option value="#00ff00">Green</option>
                    <option value="#ffa500">Orange</option>
                    <option value="#800080">Purple</option>
                  </select>
                </div>
              </div>

              <div class="settings-row">
                <div class="col-label">
                  <input type="checkbox" id="setting12" name="setting" value="distance_knee">
                </div>
                <div class="col-setting">
                  <label for="setting12">12-Distance between knees.</label>
                </div>
                <div class="col-sample">
                  <button type="button" class="visibility-btn" data-img="img12"><i class="bi bi-eye"></i></button>
                  <img src="./static/img/foot_ground_angle.png" class="setting-image" id="img12" alt="12Preview" style="display:none;">
                </div>
                <div class="col-color">
                  <select id="colorSetting12" name="colorSetting12" style="width: 100%;">
                    <option value="#ff0000">Red</option>
                    <option value="#0563bb">Blue</option>
                    <option value="#00ff00" selected>Green</option>
                    <option value="#ffa500">Orange</option>
                    <option value="#800080">Purple</option>
                  </select>
                </div>
              </div>

              <div class="settings-row">
                <div class="col-label">
                  <input type="checkbox" id="setting13" name="setting" value="distance_heel_hip">
                </div>
                <div class="col-setting">
                  <label for="setting13">13-Distance of hip to heel.</label>
                </div>
                <div class="col-sample">
                  <button type="button" class="visibility-btn" data-img="img13"><i class="bi bi-eye"></i></button>
                  <img src="./static/img/foot_ground_angle.png" class="setting-image" id="img13" alt="13Preview" style="display:none; max-height: 50px;">
                </div>
                <div class="col-color">
                  <select id="colorSetting13" name="colorSetting13" style="width: 100%;">
                    <option value="#ff0000">Red</option>
                    <option value="#0563bb">Blue</option>
                    <option value="#00ff00" selected>Green</option>
                    <option value="#ffa500">Orange</option>
                    <option value="#800080">Purple</option>
                  </select>
                </div>
              </div>

              <div class="settings-row">
                <div class="col-label">
                  <input type="checkbox" id="setting14" name="setting" value="distance_wrist_hip">
                </div>
                <div class="col-setting">
                  <label for="setting14">14-Distance of hip to wrist.</label>
                </div>
                <div class="col-sample">
                  <button type="button" class="visibility-btn" data-img="img14"><i class="bi bi-eye"></i></button>
                  <img src="./static/img/foot_ground_angle.png" class="setting-image" id="img14" alt="14Preview" style="display:none; max-height: 50px;">
                </div>
                <div class="col-color">
                  <select id="colorSetting14" name="colorSetting14" style="width: 100%;">
                    <option value="#ff0000">Red</option>
                    <option value="#0563bb">Blue</option>
                    <option value="#00ff00" selected>Green</option>
                    <option value="#ffa500">Orange</option>
                    <option value="#800080" style="color:#800080;">Purple</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          
          <button type="submit" onclick="UplaodNewVideo()" class="btn btn-primary" style="margin-top: 20px;"> Return</button>

          <button type="submit" onclick="SendDrawData(event)" class="btn btn-primary" style="margin-top: 20px;">Submit</button>

          <div id="parent-container" style="display: none;">
            <h2>Processing...</h2>
            <div id="loading" style="display: none; width: 100%; height: 50px; position: relative;">
              <img src="{{ url_for('static', filename='img/loading.gif')}}" alt="Loading..." style="width: 10%; position: absolute; top: 0%; left: 50%; transform: translate(-50%, -50%);"/>
            </div>
          </div>
      </div>
    </section>

    

    <section id = "result" style="display: none;">
      <div class="container section-title" data-aos="fade-up">
        <h2>Analysis Result </h2>
      </div>
      <div class="container_checkbox">
        <label for="resultVideo" style="display: block; margin-bottom: 10px;">Result Video:</label>
        <a id="downloadResultVideo">Download Result Video</a>
        <!-- <video id="resultVideoPreview" controls style="display:none; width: 100%; margin-top: 20px;" type="video/mp4"></video> -->
        <label for="resultVideo" style="display: block; margin-top:20px;font-size: 20px;">CSV File:</label>
        <a id="downloadResultCSV">Download CSV file</a>
        
        <video id="video-player" controls>
            <source id="video-source" src="" type="video/mp4">
            Your browser does not support the video tag.
        </video>
      </div>
    </section>

    <!-- <section id="chatbot">
      <div class="container section-title" data-aos="fade-up">
        <h2>Chat Bot </h2>
      </div>
      <div class="container_checkbox">
        <h4>Ask your question:</h4>
        
        <div id="chat-container" style="margin: 0 auto;">
          <div id="chat-box">
            <div class="chat-message bot-message">Hello! How can I help you?</div>
          </div>
          <div id="input-area">
            <input type="text" id="user-input" placeholder="Type your question..." onkeypress="handleKeyPressChatBot(event)">
            <button onclick="handleChatBotButton()">Send</button>
          </div>
        </div>

      </div>
    </section> -->
  </main>
  </div>
  
  <footer id="footer" class="footer position-relative light-background">
    <div class="container">
      <h3 class="sitename">Smart Running</h3>
      <p>Building a Digital Kinematic Database.
        Automating Pose Detection and Classification.
        Data Visualization and Expert Evaluation.</p>
      <div class="social-links d-flex justify-content-center">
        <a href=""><i class="bi bi-twitter-x"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-skype"></i></a>
        <a href=""><i class="bi bi-linkedin"></i></a>
      </div>
      <div class="container">
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you've purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/aos/aos.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/typed.js/typed.umd.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/purecounter/purecounter_vanilla.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/waypoints/noframework.waypoints.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/imagesloaded/imagesloaded.pkgd.min.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js')}}"></script>
  <script>
// List of all color select IDs
const colorSelectIds = [
  'colorSetting1','colorSetting2','colorSetting3','colorSetting4','colorSetting5','colorSetting6','colorSetting7','colorSetting8','colorSetting9','colorSetting10','colorSetting11','colorSetting12','colorSetting13','colorSetting14'
];

function hexToRgba(hex, alpha) {
  // Remove # if present
  hex = hex.replace('#', '');
  // Parse r, g, b
  let bigint = parseInt(hex, 16);
  let r, g, b;
  if (hex.length === 6) {
    r = (bigint >> 16) & 255;
    g = (bigint >> 8) & 255;
    b = bigint & 255;
  } else if (hex.length === 3) {
    r = (bigint >> 8) & 15; r = r * 17;
    g = (bigint >> 4) & 15; g = g * 17;
    b = bigint & 15; b = b * 17;
  } else {
    return hex;
  }
  return `rgba(${r},${g},${b},${alpha})`;
}

function updateSelectColor(select) {
  const color = select.value;
  select.style.backgroundColor = hexToRgba(color, 0.2); // Set background color with 50% opacity
  // Set text color for contrast (white for dark, black for light backgrounds)
  let textColor = '#fff';
  if (color === '#ffa500' || color === '#ff0000' || color === '#00ff00') textColor = '#222';
  if (color === '#0563bb' || color === '#800080') textColor = '#fff';
  select.style.color = textColor;
}

colorSelectIds.forEach(id => {
  const select = document.getElementById(id);
  if (select) {
    updateSelectColor(select); // Set initial color
    select.addEventListener('change', function() {
      updateSelectColor(this);
    });
  }
});
</script>
</body>
</html>