<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Profile Page - Running Analysis Application</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.png')}}" rel="icon">
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: MyResume
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Updated: Jun 29 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="starter-page-page">

  <header id="header" class="header d-flex flex-column justify-content-center">

    <i class="header-toggle d-xl-none bi bi-list"></i>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="index.html"><i class="bi bi-house navicon"></i><span>Home</span></a></li>
        <li><a id="doshboardlink1" href="dashboard.html"><i class="bi bi-person navicon"></i><span>Dashboard</span></a></li>
        <li><a href="#" class = "active disabled-link"><i class="bi bi-hdd-stack navicon"></i><span>Video Log</span></a></li>
        <li><a href="#" onclick="handelrankLogButton()"><i class="bi bi-trophy navicon"></i><span>Ranking Log</span></a></li>
        <li><a href="#" onclick="handelViewProfileButton()"><i class="bi bi-person-circle navicon"></i><span>Profile</span></a></li>
        <li><a href="#" onclick="handelLogoutButton()"><i class="bi bi-power navicon"></i><span>Logout</span></a></li>
      </ul>
    </nav>

  </header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="container">
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li><a id="dashboardlink2" href="dashboard.html">Dashboard</a></li>
            <li class="current">Video Log</li>
          </ol>
        </nav>
        <h1>Video Log Page</h1>
        <h4 id="usernameDisplay">Profile</h4>
        <h6 id="useremailDisplay">Profile</h6>
        <!-- User Profile Dropdown -->
        <div class="user-profile">
          <button class="profile-button" aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-person-circle"></i> <span id="myaccount">My Account ▼</span>
          </button>
          <div class="dropdown-menu">
            <button class="profile-button" id="videologebutton" onclick="handelDashboardButton()">Dashboard </button>
            <!-- <button class="profile-button" id="videologebutton" onclick="handelVideLogButton()">Video Log </button> -->
            <button class="profile-button" id="rancklogebutton" onclick="handelrankLogButton()">Ranking Log </button>
            <button class="profile-button" id="viewprofilebutton" onclick="handelViewProfileButton()">Profile </button>
            <button class="profile-button" id="logoutButton" onclick="handelLogoutButton()">Logout</button>
          </div>
        </div>
      </div>
    </div><!-- End Page Title -->

    <!-- Starter Section Section -->
    <section id="starter-section" class="starter-section section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>History</h2>
        <p>Here, you can view the history of the videos you've uploaded along with their corresponding analysis results.
           You'll be able to review previous videos, examine detailed insights derived from the posture analysis and re-analyze the videos making it easy to track progress and compare results over time.</p>
          <br>
      </div><!-- End Section Title -->
    </section><!-- /Starter Section Section -->
    <!-- History Table Section -->
    <section class="section" data-aos="fade-up">
      <div class="container_checkbox" style="overflow-x:auto;max-width: 1025px;">
        <table id="historyTable" style="width: 1000px; min-width: 800px;">
          <thead>
            <tr>
              <th onclick="sortTable(0)" class>Runner Name</th>
              <th onclick="sortTable(1)" class>Upload Date</th>
              <th>Video Name</th>
              <th>Original Video</th>
              <th>Result Video</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="historyTableBody">
            <!-- History entries will be dynamically inserted here -->
          </tbody>
        </table>
      </div>
    </section>

  </main>

  <footer id="footer" class="footer position-relative light-background">
    <div class="container">
      <h3 class="sitename">AIMS (AI Mapping for Sports)</h3>
      <p>Train Informed. Smart Running. 
        Posture & Kinematic Analysis. Performance Ranking & Prediction.
         Video Annotation & Analytics.</p>
      <div class="social-links d-flex justify-content-center">
        <a href=""><i class="bi bi-twitter-x"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-skype"></i></a>
        <a href=""><i class="bi bi-linkedin"></i></a>
      </div>
      <div class="container">
        <div class="credits">
          <p>&copy; 2025 <strong>AIMS Technologies</strong>. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/aos/aos.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/typed.js/typed.umd.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/purecounter/purecounter_vanilla.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/waypoints/noframework.waypoints.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/imagesloaded/imagesloaded.pkgd.min.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js')}}"></script>

  <!-- Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js')}}"></script>


  <script>
    let sortDirections = []; // to toggle asc/desc

    

    function sortTable(columnIndex) {
        const table = document.getElementById("historyTable");
        const tbody = table.tBodies[0];
        const rows = Array.from(tbody.querySelectorAll("tr"));
        
        // toggle sort direction
        sortDirections[columnIndex] = !sortDirections[columnIndex];

        rows.sort((a, b) => {
            const aText = a.children[columnIndex].textContent.trim();
            const bText = b.children[columnIndex].textContent.trim();
            
            // check if date
            if (columnIndex === 1) {
                const aDate = new Date(aText);
                const bDate = new Date(bText);
                if (!isNaN(aDate) && !isNaN(bDate)) {
                    return sortDirections[columnIndex] ? aDate - bDate : bDate - aDate;
                }
            }
            // detect if number
            const aNum = parseFloat(aText);
            const bNum = parseFloat(bText);
            if (!isNaN(aNum) && !isNaN(bNum)) {
                return sortDirections[columnIndex] ? aNum - bNum : bNum - aNum;
            } else {
                return sortDirections[columnIndex] 
                    ? aText.localeCompare(bText) 
                    : bText.localeCompare(aText);
            }
        });

        // remove old rows
        while (tbody.firstChild) {
            tbody.removeChild(tbody.firstChild);
        }

        // add sorted rows
        tbody.append(...rows);

        // update header style
        // Clear dynamic sort classes
        table.querySelectorAll("th").forEach((th, idx) => {
            th.classList.remove("sort-asc", "sort-desc");
        });

        // Always keep ▼ on first two columns
        table.querySelectorAll("th")[0].classList.add("fixed-desc");
        table.querySelectorAll("th")[1].classList.add("fixed-desc");

        // Update sorted column arrow
        table.querySelectorAll("th")[columnIndex].classList.remove("fixed-desc");
        table.querySelectorAll("th")[columnIndex].classList.add(
            sortDirections[columnIndex] ? "sort-asc" : "sort-desc"
        );
    }
    // sort by first
    window.onload = () => {
      // extract username from url
      const urlParams = new URLSearchParams(window.location.search);
      const username = urlParams.get('username') || 'Profile';
      const useremail = urlParams.get('useremail') || 'Email';

      // Update span for show username
      document.getElementById("useremailDisplay").innerText = useremail;
      document.getElementById("usernameDisplay").innerText = username;
      // Set the link to dashboard links
      const dashboardLink1 = document.getElementById("doshboardlink1");
      if (dashboardLink1) {
        dashboardLink1.href = `http://${fetch_address}:5001/dashboard?username=${encodeURIComponent(username)}&useremail=${encodeURIComponent(useremail)}`;
      }
      const dashboardLink2 = document.getElementById("dashboardlink2");
      if (dashboardLink2) {
        dashboardLink2.href = `http://${fetch_address}:5001/dashboard?username=${encodeURIComponent(username)}&useremail=${encodeURIComponent(useremail)}`;
      }
      FillHistoryTable(useremail);  
      
      
      sortTable(1);

    };
  </script>
</body>
</html>